.about-picture {
    position: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.top-container{
    background-image: url("img/AboutMeTopImage.png");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.profession-title{
    margin-top: 30px; 
    color: #254E7E;
    font-weight: 400;
    font-size: 2em;   
    line-height: 1;
    text-align: center;
}
.about-me-part2{
    background-color: F8F8F8;
    height: 500px;
}
.about-subtitle{
    color: #254E7E;
    font-weight: 300;
    font-size: 1.5em;   
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
    margin-top: 50px;
}
.the-best-myself1{
    font-size: 1.5em;   
    text-align: center;
    font-weight: 300;
}
.the-best-myself2{
    font-size: 1.5em;   
    text-align: center;
    font-weight: 400;
    color: #254E7E;
}
.hobby-icon{
    position: center;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.hobbie-text{
    text-align: center;
}

.skills-container{
    margin: 30px;
}
.skills-icon{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.skill-card-title{
    font-weight: 500;
     font-size: 1em;
     color: #254E7E;
     text-align: center;
     line-height: 1.6;
     width: 200px;
     margin-left: auto;
     margin-right: auto;
}
.skill-card-text{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.goals-text{
    font-weight: 200;
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
}
.interest-tile{
	font-family: 'Source Sans Pro';
	color:#254E7E;
	font-weight: 700;
	font-size: 3em;
    padding-left: 20px;
    padding-right: 20px;
}
.interest-text{
	font-family: 'Source Sans Pro';
	color:#0076FF;
	font-weight: 400;
	font-size: 1.5em;
}
.intest-text-background{
	background-image: url("img/interests-background.png");
	width: 417px;
	height:253px;
	object-fit: cover;
	margin-right: 10px;
}
