<div fxLayout="column" fxLayoutAlign="center">
  <div class="top-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="about-picture">
      <img src="../../assets/ProfilePictureSquare.jpg" class="img-fluid z-depth-1 rounded-circle profile-picture"
        alt="Responsive image">
    </div>
    <h2 class="profession-title">Mari Kurata, UI/UX Designer
    </h2>
    <!--<div class="prueba">
      <span class="profession-title" *ngFor="let word of finalWords" [@flyInOut]="'in'">{{word}}</span>
    </div>-->
  </div>
  <div class="about-me-part2" fxLayout="column" fxLayoutAlign="start center">
    <p class="about-subtitle">My skills</p>
    <div class="">
      <div class="row ">

        <div class="col mb-4">
          <div class="card h-100">
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top skills-icon" src="../../assets/About-icons/Design Skills Icon_DesignStrategy.png"
                alt="Card image cap">
              <!--Title-->
              <h4 class="skill-card-title">PRODUCT STRATEGY</h4>
              <hr>
              <p class="skill-card-text">Analyzing Business Goals</p>
              <hr>
              <p class="skill-card-text">Requirement Gatherning</p>
              <hr>
              <p class="skill-card-text">Analyzing Product</p>
            </div>
          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top skills-icon"
                src="../../assets/About-icons/Design Skills Icon_InteractionDesign.png" alt="Card image cap">
              <!--Title-->
              <h4 class="skill-card-title">INTERACTION DESIGN</h4>
              <hr>
              <p class="skill-card-text">Persona Development</p>
              <hr>
              <p class="skill-card-text">User Journey</p>
              <hr>
              <p class="skill-card-text">UX Information Architecture</p>
              <hr>
              <p class="skill-card-text">Wireframes & Mockups</p>
            </div>
          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top skills-icon" src="../../assets/About-icons/Design Skills Icon_VisualDesign.png"
                alt="Card image cap">
              <!--Title-->
              <h4 class="skill-card-title">VISUAL DESIGN</h4>
              <hr>
              <p class="skill-card-text">Interface Design</p>
              <hr>
              <p class="skill-card-text">Iconography</p>
              <hr>
              <p class="skill-card-text">SVG</p>
              <hr>
              <p class="skill-card-text">Images</p>
            </div>
          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top skills-icon" src="../../assets/About-icons/Design Skills Icon_UserResarch.png"
                alt="Card image cap">
              <!--Title-->
              <h4 class="skill-card-title">USABILITY EVALUATION</h4>
              <hr>
              <p class="skill-card-text">User testing</p>
              <hr>
              <p class="skill-card-text">User Inquiry</p>
              <hr>
              <p class="skill-card-text">Heuristic Evaluation</p>
              <hr>
              <p class="skill-card-text">UI / UX Best Practices</p>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
    </div>

    <p class="about-subtitle">My Top 3 Goals</p>
    <div>
      <p class="goals-text">1. Create intuitive, simple and <span style="color:#573EFB; font-weight: 600; font-size: 1.3em;">valuable</span> user experience.</p>
      <p class="goals-text">2. Design to <span style="color:#29BCC8; font-weight: 600; font-size: 1.3em;">influence</span> how world works.</p>
      <p class="goals-text">3. Asist <span style="color:#0076FF; font-weight: 600; font-size: 1.3em;">multidisciplinary</span> teams to push the boundaries of the technology.</p>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="padding-top: 50px; padding-bottom: 20px;">
      <p class="interest-tile">Interests:</p>	
      <div class="intest-text-background" fxLayout="column"  fxLayoutAlign="center center">
        <p class="interest-text">IoT</p>
        <p class="interest-text">Health Care</p>
        <p class="interest-text">Education</p>
      </div>
    </div>
    <p class="about-subtitle">Hobbies</p>
    <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-bottom: 100px; width: 600px;">
      <div fxLayout="column" fxLayoutAlign="center cernter">
        <img src="../../assets/Hobbies illustrator-03.png" class="hobby-icon" alt="Responsive image">
        <p class="hobbie-text">Swimming</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center cernter">
        <img src="../../assets/Hobbies illustrator-01.png" class="hobby-icon" alt="Responsive image">
        <p class="hobbie-text">Zumba</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center cernter">
        <img src="../../assets/Hobbies illustrator-02.png" class="hobby-icon" alt="Responsive image">
        <p class="hobbie-text">Beading</p>
      </div>

    </div>
  </div>

</div>