 /*color code bule 51A9E0, 295571 */

body {
	  padding-top: 50px;
      position: relative;
      overflow-x: hidden;
}
   /*header top*/
.headpress{
	padding-top:0px;
 	background-image: url("img/1.1.jpg");
 	background-size:     cover;                      
    background-repeat:   no-repeat;
    background-attachment: fixed;
    background-position: center center; 
	color:white;
	height:650px;
}
#top-title{
	text-align: center;
	padding-top:20%;
}
#top-title h1{
	font:Avenir;
	font-weight: 100;
	text-decoration: none;
	font-size: 3vw
}
#top-title h2{
	font:Myriad Pro;
	font-weight: normal;
	text-decoration: none;
	font-size: 3.5vw
}
#cir{
	padding-right:10%;
}
#circle{
	background-image: url('img/0001.jpg');
	background-repeat: no-repeat;
	background-position:center center;
	background-size: contain;
	height:250px;
	width:250px;
	text-align: center;
	background-color:#51A9E0;
	border-radius: 50%;
	border: solid 3px white;
	margin: auto;
	padding-top:10%;
	transform: translateY(50%);
}
.name{
	margin: auto;
	font-size:24px;
	background:none;
	text-align:center;
	padding-top:35%;
}
   /*nav bar*/
.bar-logo{
	height:20px;	
}
#navbar1{
	background-color:#51A9E0;
	border:0px;
	border-radius:0px;
}
#navbar1 a{
	color:white;
}
#content{
	background-color:#295571;
}
ul.nav li.dropdown ul.dropdown-menu li a:hover{
	background-color:#51A9E0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color:rgba(0,0,0, .5) ;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color:rgba(0,0,0, .5);
}
.affix {
      top: 0;
      width: 100%;
  }
.affix + .container-fluid {
      padding-top: 0px;
  } 
  /*section parts */

  		/*section 1*/
#section1 {
  	padding-top:50px;
  	height:100%; 
  	color: black; 
 	background-color:white;
  	padding-left:10%;
  	padding-right:10%;
  } 
#descriptiontext {
  	text-align: justify;
    text-justify: inter-word;
    padding-left:10%;
    padding-right:10%;
    padding-top:15%;
    font-size: 20px;
    color;black;
    line-height: 2;
}
.skillback{
	padding: 0 25 0 25;
	background-image: url('img/00001.png');
    background-repeat: no-repeat;
	background-size: cover;
	background-position:  center center;
    height:100%; 
    margin:auto;
    transform: translateY(10%);
}
.iconskill{
	padding:10px;	 
    display: inline-block;
	background-color:none;
	position: relative;
	position:center center;
}
.iconskill:hover, .iconskill:active{
	padding:0px;	
}

.toppadding{
	padding-top:110px;
}

.bottompadding{
	padding-bottom:100px;
}	
    	/*section 2*/
  #section21 {
  padding-top:50px; 
  height:100%; 
  color: black; 
  padding-left:10%;
  padding-right:10%;
}
.btn-info {
    color: #fff;
    background-color: #51A9E0;
    border-color: #51A9E0;
}
.btn-info1 {
    color: #fff;
    background-color:  #295571;
    border-color: #295571;
}
.thumbnail:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-primary{
	color:#51A9E0;
	background:none;
	margin:auto;
	text-align;center;
} 
.modal-footer{
	text-align: center;
}
  #section22 /*industrial design*/ {
  padding-top:50px;
  height:100%; 
  color: black; 
  background-color: white;
  padding-left:10%;
  padding-right:10%;
}
.industrial-title{
	font-size:18px;
	color:#51A9E0;
}
.top-title{
	padding-top:50px;
	font-size: 24px;	
	color:#295571;
	text-decoration: underline;
}
.space{
	padding-top:100px;
}
.industrial-content{
	font-size: 18px;
	color:gray;
	text-align: justify;
    text-justify: inter-word;
    padding-left:10%;
    padding-right:10%;   
}
#oficekit{
	background-color:white;
	background-image: url('img/01.png');
    background-repeat: no-repeat;
	background-size: contain;
	background-position:  center center;
    max-height:100%; 
    height:500px;
	margin:auto;
	transform: translateY(0%);
}   
#beautytree{
	background-color:white;
	background-image: url('img/001.png');
    background-repeat: no-repeat;
	background-size: contain;
	background-position:  center center;
    max-height:100%; 
    height:600px;
    margin:auto;
    transform: translateY(10%);
} 
.down{
	padding-bottom:100px;
}
  #section23 /*logo*/ {
  padding-top:50px;
  height:100%; 
  color: black; 
  background-color: white; 
  padding-bottom:100px;
  padding-left:10%;
  padding-right:10%;
}
.logo-container {
    min-height: 115px;
}
#logo {
    margin-top: 20%;
    max-width: 100%;
    text-align: center;
    margin: auto;
    height: 100px;
    padding-left:10%;
  padding-right:10%;
}
.logodescription {
	text-align:center;
	color: gray;
}
  		/*section 3*/
#section3 {
  	padding-top: 0px;
    height: 100%;
    color: white;
    background-color: white;
    background-image: url(img/3.jpg);
    background-position: center center;
    max-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-clip: padding-box;
}
#cuts{
	
	background-image: url('img/5.png');
    background-repeat: no-repeat;
	background-size: cover;
	background-position:  center center;
}
 #section5 {
  	padding-top:0px;
	height:100%; px;
  	color: white; 
	background-color: white;
	background-image: url('img/2.jpg');
	background-position:  center center;
    max-height:100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
	background-clip: padding-box;	
}
.cen {
	position:center center;
	text-align:center;
	left:0;
	padding-left:80px;
	clip: rect(0px,30px,200px,0px);
	Background-color:none;
}
#contacttitle{

	padding-top:500px;
	padding-left:10%;
    padding-right:10%;  
}
#social{	
	padding:10px 10px 10px 10px;
	max-height:50px;	
}
#contact-text{
	color:white;
	font-size:20px;
	height:50px;
	padding-top:10px;
}
#down {
	height:50px;
	background-color: #51A9E0;
	color:white;
}