.ti-banner {
    height: 500px;
    background-image: url("img/PortfolioImagebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}
.selected-work-men-container{
    margin-top: 30px;
}
.filler {
    flex: 1 1 auto;
 }

 .thumbnail-card {
     margin-top: 5%;
 }
 .xs-margin {
     margin-top: 20%;
 }
 .portfolio-tittle-container{
    height: 300px;
}
 .porfolio_title {
     font-weight: 700;
     font-size: 3em;
     color: #254E7E;
     text-align: center;
     line-height: 1.6;
 }
 .case-study {
     background-color: black;
     color: white;
 }
 .star-icon {
     color: #fffaa9;
 }
 .banner-title{
     font-weight: 900;
     font-size: 2.3em;
     color: #254E7E;
     letter-spacing: 0;
     text-align: center;
 }
.active-link {text-decoration: underline;}
.overlay{
    cursor: pointer;
}