<hr class="footer-divider bottom-margin-md">
<div class="container flex-row-between-center bottom-padding-md">
    <div class="social-media flex-row-between-center">
        <a class="social-icon" href="https://www.linkedin.com/in/mari-kurata" target="_blank"  >
            <img class="image-contain" src="../../assets/images/icons/linkedin.svg" alt="linkedin">
        </a>
        <a class="social-icon" href="https://www.behance.net/marikimikurata" target="_blank">
            <img class="image-contain" src="../../assets/images/icons/behane.svg" alt="behance">
        </a>
        <a class="social-icon" href="mailto:marikimi.kuratahdz@gmail.com" >
            <img class="image-contain" src="../../assets/images/icons/email.svg" alt="email">
        </a>
    </div>
    <p class="body_text_sm">Mari Kimi Kurata , &copy;2021 </p>

</div>