<div class="wiz_top_image_container container">
    <img class="top_image image-contain" src="../../assets/images/wizapp/topwizapp.png" alt="calculators" >
    <img class="wizlogo image-contain" src="../../assets/images/wizapp/wizlogo.png" alt="logo" >
</div>
<div class="container flex-row-around-center">
    <img class="slogan_image top-margin-sm bottom-margin-md" src="../../assets/images/wizapp/wizbulb.png" alt="bulb" >
    <div class="slogan_text_container ">
        <h1 class="" >Redesigning WIZ app to increase smart light users.</h1>
        <p class="body_text_md bottom-padding-md">Smart lights for your daily living</p>
    </div>
</div>
<div class="neutral_light_bg top-padding-lg bottom-padding-md">
    <div class="container">
        <div class="flex-row-start-between">
            <div class="overview">
                <h4 class="" >Overview</h4>
                <p class="body_text_sm">Wiz connect is a mobile application that allows users to connect, control, and automate their smart Wiz light bulbs. </p>
            </div>
            <div class="myrole">
                <h4 class="" >My Role</h4>
                <p class="body_text_sm">I conducted user research interviews to understand user needs, identify main pain points,  and find ways to improve the app. I Iterated the interface design through 2 rounds of user testing, one A/B testing, and  surveys.</p>
            </div>
        </div>
    </div>
</div>

<!-- Sticky progress bar with jump links and shrink effect on scroll  

tutorial links: 
        sticky bar      ------------            https://therichpost.com/angular-8-sticky-navbar-working-example/
        shrink a header in scroll   -------     https://www.w3schools.com/howto/howto_js_shrink_header_scroll.asp
        jumping links         ---------         https://www.bennadel.com/blog/3402-creating-a-jump-to-anchor-fragment-polyfill-in-angular-5-2-0.htm   

-->

<div class="progress_bar_box mpadding">
    <h2 class="h2title stiky_nav_title top-padding-md">Design process</h2>
    <nav class="sticky_nav navbar"  ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav>
        <a href="/wizapp#section1" [class.sticky_active]="selectedLink === 'one'" (click)="markSelected('one')" class="sticky_nav_item" target="_self">
            <div class="sticky_content">
                <div class="circle">1</div>
                <p class="progress_title"> Research</p>
            </div>
        </a>
        <a href="/wizapp#section2" class="sticky_nav_item " [class.sticky_active]="selectedLink === 'two'" (click)="markSelected('two')"  target="_self">
            <div class="sticky_content">
                <div class="circle">2</div>
                <p class="progress_title"> User test 1</p>
            </div>
        </a>
        <a href="/wizapp#section3" class="sticky_nav_item " [class.sticky_active]="selectedLink === 'three'" (click)="markSelected('three')"  target="_self">
            <div class="sticky_content">
                <div class="circle">3</div>
                <p class="progress_title"> A/B Testing</p>
            </div>
        </a>
        <a href="/wizapp#section4" class="sticky_nav_item " [class.sticky_active]="selectedLink === 'four'" (click)="markSelected('four')"  target="_self">
            <div class="sticky_content">
                <div class="circle">4</div>
                <p class="progress_title"> Preference test</p>
            </div>
        </a>
        <a href="/wizapp#section5" class="sticky_nav_item sticky-five" [class.sticky_active]="selectedLink === 'five'" (click)="markSelected('five')"  target="_self">
            <div class="sticky_content">
                <div class="circle">5</div>
                <p class="progress_title">User test 2</p>
            </div>
        </a>
    </nav>
</div>

<div id="section1" class="container">
    <h1 class="bottom-padding-md top-padding-md">User Research</h1>
    <p class="body_text_md bottom-padding-md">By gathering data from actual users of smart light products and people interested in this technology I was able to identify three personas that represent the gradient of smart lights consumers. These are the highlights for each persona.</p>
</div>
<div class="car container">
    <div class="carousel" data-timer="3"> <!-- change this value to control picture holding period -->

		<div class="carousel-deck">
			<div class="carousel-slide"></div>
			<div class="carousel-slide"></div>
			<div class="carousel-slide"></div>
			<div class="carousel-slide"></div>
		</div>
	</div>
</div>
<div class="container flex-col-center-end" >
    <a class="work_link bottom-margin-md" target="_blank" href="https://docs.google.com/presentation/d/1VLEnPfbQwva78-qnbG3eHrgdpQNC55QvS9yM9VUIuxk/edit?usp=sharing" >See Full user research &#8594;</a>
</div>
<div class="container" >
    <p class="body_text_md bottom-padding-xs">After making a heuristic evaluation on the existing app  and reading extensive user review feedback notes, I conducted five user interviews to confirm some of the theories I had about users’ pain points, needs and expectations. The following list represents the top four design problems identified during the user research process. </p>
</div>
<div class="container flex-col-center-end" >
    <a class="work_link" target="_blank" href="https://docs.google.com/presentation/d/1j_NrdJXPsGNDE9TakvyoeNoijiWlJS3shStRgFTZJkg/edit?usp=sharing" >See full heuristic evaluation &#8594;</a>
</div>
<div class="container flex-col-center-end" >
    <a class="work_link bottom-margin-sm" target="_blank" href="https://docs.google.com/presentation/d/11--txf_GabvPcung2jscep307nhb7lsAVCBu5SBQcK4/edit?usp=sharing" >link to interviews details &#8594;</a>
</div>
<div class="container">
    <h2 class="bottom-padding-md">The Problem</h2>
    <ul class="problem_list body_text_md bottom-padding-lg">
        <li>Users  <span style="font-weight: 800;">don’t use secondary functions</span> because they have to dig deep in the app to be able to do tasks like change the color of the lights and set a timer.
        </li>
        <br>
        <li>Turn on and off the lights manually is an easy task to do with the current app but users are <span style="font-weight: 800;">willing to do more</span> than that. </li>
        <br>
        <li>Smart lights are difficult to get used to specially because the <span style="font-weight: 800;">current features restrict the user</span> to follow a tight daily life schedule.
        </li>
    </ul>
</div>

<div class="container">
    <h2 class="bottom-padding-md">Design Goals</h2>
    <div class="flex-row-center-center">
        <div class="goals_imgside">
            <img class="image-contain" src="../../assets/images/wizapp/goals_img.png" alt="current app" >
            <p class="image_des text-center bottom-padding-md">Current app</p>
        </div>
        <div class="goals_container">
            <div class="flex-row-nowrap-start-center">
                <img class="list_item_image" src="../../assets/images/list/list1.png" alt="list item" >
                <p class="text-bold">Improve the color pallet</p>
            </div>
            <div class="flex-row-nowrap-start-center">
                <img class="list_item_image" src="../../assets/images/list/listnull.png" alt="list item" >
                <p class="body_text list_text bottom-padding-sm">Employ brighter colors and modern UI elements in the interface visuals to make the app feel more exciting.</p>
            </div>
            <div class="flex-row-nowrap-start-center">
                <img class="list_item_image" src="../../assets/images/list/list2.png" alt="list item" >
                <p class="text-bold">Improve distribution of the information</p>
            </div>
            <div class="flex-row-nowrap-start-center">
                <img class="list_item_image" src="../../assets/images/list/listnull.png" alt="list item" >
                <p class="body_text list_text bottom-padding-sm">Organize the items in a new system to make simple functions like color picker faster to find. </p>
            </div>
            <div class="flex-row-nowrap-start-center">
                <img class="list_item_image" src="../../assets/images/list/list3.png" alt="list item" >
                <p class="text-bold">Make the app adapt to the user</p>
            </div>
            <div class="flex-row-nowrap-start-center">
                <img class="list_item_image" src="../../assets/images/list/listnull.png" alt="list item" >
                <p class="body_text list_text bottom-padding-lg">Make the current automation features more flexible by introducing functions like timer that fit better with users’ daily life.  </p>
            </div>
        </div>
    </div>
</div>
<div id="section2" class="section2_box ">
    <div class="container display-flex" style="flex-direction: column;">
        <div class="section2_content ">
            <h1 class="bottom-padding-md top-padding-lg">User Test 1</h1>
            <h4>Prototyping & testing the essentials</h4>
            <p class="body_text_md">The first round of user testing consisted in asking eight potential users to do the following three tasks: first to turn on a light, next to change the color of the light and finally to set a 15 min timer on the light. All sessions were handed over zoom for 30min average. Here are the top 2 highlights from the user testing results:</p>
            <ul class="proto_list body_text_md">
                <li ><span style="font-weight: 300; font-size: 2em;">75%</span> of the testers couldn’t find the on/off button in the room screen.</li>
                <br>
                <li >Light controls like color slider, brightness slider,  and on/off button should go inside the thumb reachable area.</li>
            </ul>
            <div class="flex-col-center-end bottom-margin-lg" >
                <a class="work_link " target="_blank" href="https://docs.google.com/presentation/d/13klopLdFEOIOZbScmGpFV4BVwUs_cAKX2Oj59sZjIj4/edit?usp=sharing" >Read  more  about user test details &#8594;</a>
            </div>
        </div>
        <div class="lowfidelity_image_box"> 
            <img class="image-contain" src="../../assets/images/wizapp/lowmockups.png" alt="low fidelity mocups" >
        </div>
    </div>
</div>
<div class="neutral_light_bg">
    <div class="container">
        <h2 class="bottom-padding-md ">UI/UX Iteration 1</h2>
        <img class="image-contain bottom-margin-lg" src="../../assets/images/wizapp/iteration1.png" alt="iterarion ui" >
    </div>
</div>
<div id="section3" class="container">
    <h1 class="bottom-padding-md top-padding-lg">A/B Testing</h1>
    <h4>Gathering feedback from users</h4>
    <p class="body_text_md bottom-padding-md">Next steps for this project was to get feedback about how well the app communicates with users and how could this niew interface improve. For this assessment a 5-10 min A/B testing was prepared using google forms. I got around 15 responses full of notes and comments that I used to determine which design direction I should take. The following images represent a small section of the A/B testing results.</p>
    <div class="flex-row-start-start">
        <img class="ab_image" src="../../assets/images/wizapp/abimage.png" alt="ab test image" >
        <div class="ab_text">
            <p class="body_text_md ">Look at the following A and B screenshots:</p>
            <br>
            <p class="body_text_md "><span style="font-weight: 800;">Q1.</span> Which one do you think communicates the color of the light better?</p>
            <br>
            <br>
            <div class="flex-col-center-end">
                <a class="work_link" target="_blank" href="https://docs.google.com/presentation/d/1hwagekXe3OOlsgj8NgJLaHmPFQe0eVwXMl3YH9QjjWk/edit?usp=sharing" >AB testing details&#8594;</a>
            </div>    
        </div>
    </div>
</div>
<div class="container">
    <h4 class="top-padding-lg bottom-padding-sm text-bold">Key takeaways from the A/B testing:</h4>
    <div class="takeaway_box bottom-padding-md">
        <ul class="takeaways_list body_text_md">
            <li><span style="font-weight: 800; font-size: 2em;">60%</span> of the respondents think that version B communicates better the color of light. 
            </li>
            <br>
            <li>Most people prefer big and evident light color indicators than a small and subtle detail, someone suggested making the light spectrum even <span style="font-weight: 800;">bigger.  </span>
            </li>
            <br>
            <li>B design was positively taken as an  <span style="font-weight: 800;">ambient light.</span>
            </li>
     </ul>
    <img class="takeaway_image" src="../../assets/images/wizapp/takeaway_chart.png" alt="ab test image" >
    </div>
    <div class="container">
        <h2 class="bottom-padding-md ">UI/UX Iteration 2</h2>
        <img class="image-contain bottom-margin-lg" src="../../assets/images/wizapp/iteration2.png" alt="itereation2 image">
    </div>
</div>
<div id="section4" class="neutral_light_bg">
    <div class="container">
        <h2 class="top-padding-lg bottom-padding-sm">Preference Test: Adding Color to the UI</h2>
        <p class="text_body_md bottom-padding-md">Once most of the app had a great layout and structure, it was time to select a color pallet and bring excitement to the interface. I decided to do a quick preference test on instagram showing two versions of the UI; one with light theme and the other one with dark theme. The following results helped me to learn and understand the current users' color preferences. </p>
    </div>
    <div class="container ">
        <div class="theme_test_container">
            <img class="theme_image" src="../../assets/images/wizapp/themes.png" alt="themes image" >
            <img class="poll_image" src="../../assets/images/wizapp/poll.png" alt="poll image" >
        </div>
    </div>
</div>
<div id="section5" class="neutral_light_bg">
    <div class="container">
        <h1 class="bottom-padding-md top-padding-md">User Test2</h1>
        <p class="body_text_md">It was very important to confirm that all design iterations made during this project were for good, so finally I decided to repeat the user testing I made at the beginning of this project with three individuals including one experienced WIZ app user. At this point of the designing process, most of the design problems were fixed. I made final refinements in the design based on the feedback.</p>
        <div class="theme_test_container top-margin-md bottom-margin-md">
            <img class="sessions_image" src="../../assets/images/wizapp/sessions.jpg" alt="Zoom session" >
            <img class="testers_image" src="../../assets/images/wizapp/testers.png" alt="testers image" >
        </div>
        <p class="bottom-padding-md text-bold">Feedback from an actual WIZ app user</p>
        <div class="flex-row-between-center">
            <div class="headshot_box flex-col-center-center">
                <img class="headshot_image" src="../../assets/images/wizapp/seijiheadshot.png" alt="ab test image" >
                <p class="body_text_sm text-center">Wiz app user sience 2018</p>
            </div>
            <div class="headshot_comments">
                <p class="body_text_md ">“I feel thankful about the new dark theme because the current light app is too bright to be used in the dark I usually use the app to turn on the lights in the darkness.”</p>
                <br>
                <p class="body_text_md ">“Overall the new app proposal is friendlier than the current one.”</p>
                <br>
                <p class="body_text_md ">“I definitely download the new version of the app”</p>
            </div>
        </div>
    </div>
</div>

<div id="section6" class="neutral_light_bg">
    <div  class="flex-col-center-center">  
        <h1 class="invision_title">Clickable Prototype</h1>
        <iframe id='invision' width="442" height="935" src="//invis.io/AF106B63UVJZ" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<img src="../../assets/images/wizapp/wizscreenshots.png" alt="overall screenshots" class="overall">   
<div class="container">
    <h1 class="">Other projects</h1>
    <div class="">
        <app-project-thumbs [excludedItems]=3></app-project-thumbs>
    </div>
</div>