<div class="about-bg">
    <div class="container">
        <!-- sourse  https://codepen.io/hi-im-si/pen/DHoup -->
        <div class="introduction-animation-box flex-row-start-center">
            <h1>Hi, I'm &nbsp;</h1>
            <h1>
                <a href="" class="typewrite" data-period="2000" data-type='[ " a self starter.", "a good listener.", "a problem solver." ]'>
                  <span class="wrap"></span>
                </a>
            </h1>
        </div>
        

    </div>
    <div class="container">
        <div class="about-text-box">
            <p class="top-padding-lg bottom-padding-md">Creativity has played a big role in my life since I was a child.  I’m proud to say that I couldn’t be happier to dedicate my professional life to the UI/Ux field solving complex product design problems with innovation.  </p>
            <h3 class="bottom-padding-sm">My motivations</h3>
            <p class="bottom-padding-md">I have always been motivated by the desire to  design for projects that make a big impact in society.  I believe that behind an impactful project, there is an austanting team capable of overcoming big challenges during the developing process. Finally,  as a designer and team player,  it is important to me to bring the users’ voice to the team’s table and facilitate the human oriented design decisions. </p>
            <h3 class="bottom-padding-sm">In my free time </h3>
            <p class="bottom-padding-md">I enjoy crafting with beads, listening to broadway musicals, and getting active doing zumba and swimming. I'm constantly learning more about how design and development play a huge role in creating future designers.</p>
    
        </div>
     </div>    
</div>