<mat-toolbar>
    <div class="navbar fixed-top" >
        <div class="">
          <a class="branding" routerLink="/" >Mari kurata.</a>
        </div>
        <div class="container"></div>
        <div class="right-links">
          <a class="nav-link" routerLink="/about" routerLinkActive="selected">About</a>
          <!-- <a class="nav-link"   href="mailto: marikimi.kuratahdz@gmail.com" ></a>>Contact</a> -->
          <a class="nav-link" routerLink="/contact" routerLinkActive="selected">Contact</a>
        </div>
    </div>
    
  </mat-toolbar>
  
