
.tin_top_image_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.top_image{
    object-fit: contain;
    width: 100%;
}



.slogan{
    width: 400px;
}

.overview, .myrole{
    flex-grow: 1;
    min-width: 50px;
    width: 40%;
    padding: 0 var(--space-sm);
}

// sticky progress bar css START------------
.progress_bar_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.sticky_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; 
    width: 60%;
    float: left;
    padding: 5px;
    background:none;
    margin-bottom: 20px;
}

.sticky_nav_item{
    flex-grow: 1;
    flex-shrink: 1;
}

.stiky_nav_title{
    margin-bottom: 65px;
    margin: 130px, 0px;
    transition: 0.2s;
}

.sticky_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 10px;
}

.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #BBBBBB;
    background-color: none;
    color: #BBBBBB;
    font-weight: 700;
    font-size: 1em;
    transition: 0.5s;
}

.progress_title{
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 700;
    color:#515151;
    letter-spacing: 0.5px;
    line-height: normal;
    transition: 0.5s;
    text-align: center;
}

a.sticky_nav_item{
    text-decoration: none;
}

.sticky-box-shadow {
  width: 65%;
  background: rgba(255, 255, 255, 1)!important;
  border-radius: 5px;
  z-index: 10;
  padding: 0px;
}

@media screen and (max-width: 800px) {
    .sticky-box-shadow {
        width: 100%;
        background: rgba(255, 255, 255, 1)!important;
        border-radius: 0px;
        z-index: 11;
      }
    .sticky_nav{
        width: 100%;
    }
  }

// sticky progress bar css END---------------


.ti_personas_box{
    width: 80%;
    margin: auto;
}
.illustration{
    width: 25%;
}
.experiences_list{
    width: 70%;
}
.callout {
    position: relative;
    margin: 30px 0;
    padding: 10px 20px;
    background-color: #EDEDED;
    /* easy rounded corners for modern browsers */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
}
.callout .notch {
    position: absolute;
    top: 15px;
    left: -10px;
    margin: 0;
    // border-top: 0;
    // border-left: 10px solid transparent;
    // border-right: 10px solid transparent;
    // border-bottom: 10px solid #eef4f9;

    // border-top: 10px solid #000;
    // border-right: 10px solid transparent;
    // border-left: 10px solid transparent;
    // border-bottom: 0;

    border-top: 10px solid transparent;
    border-right: 10px solid #EDEDED;
    border-left: 0;
    border-bottom: 10px solid transparent;

    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
     /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}

.mat-typography p.callout-text, .mat-typography p.idea-title, .mat-typography p.data-icon-text{
    margin: 0 0 0;
}

.experience-icon{
    width: 23px;
    height: 23px;
}


/* IMAGE PICKER start*/
.picker .main-image img{
    width: 444px;
}
.thumstrip{
    display: flex;
}
.picker .thumbstrip img{
    width: 145px;
    
}
.picker .thumbstrip img:nth-child(2){
    padding:0  5px;
}
.picker .thumbstrip img:last-child {
    border-right: 0;
}
/* IMAGE PICKER end*/

.idea_list{
    margin-left: 30px;
}

.data_icon{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
.ti-mockup{
    width: 300px;
    margin: 0 50px;
}
.ti-discussion-image{
    width: 90%;
    margin: auto;
}
.result{
    width: 50%;
}
.result-gif{
    max-width: 320px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}