@media screen and (max-width: 800px) {
    .personal-links {
        justify-content: center;
    }
}
.visitme_link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color:#3C3C3C;
    padding: 10px 60px 10px 0;
}

.visitme_link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s ease-in;
}

.visitme_link:hover::after {
    width: 100%;
}

.visitme_link:last-child{
    padding-left: 60px;
}

.separator{
    width: 1px;
    height: 20px;
    letter-spacing: 0.5px;
    background-color: #3C3C3C;
}
.contact-image{
    width: 40%;
}
.send-email-btn-box{
    width: 30%;
}
.quote{
    font-style: italic; 
    font-size: 1.8em;
    font-weight: 400;
    color: var(--color-neutral-medium);
}