<div class="container">
  <div class="flex-row-between-center">
      <div class="">
          <h1 class="top-padding-lg" style="color: var(--color-pure-black);">Connect with me</h1>
          <div class="personal-links display-flex flex-align-center">
              <a class="visitme_link" href="https://www.linkedin.com/in/mari-kurata" target="_blank" >LinkedIn</a>
              <div class="separator"></div>
              <a class="visitme_link" href="https://www.behance.net/marikimikurata" target="_blank" >Behance</a>
          </div>

      </div>
      <div class="contact-image">
          <img class=" image-contain"    src="../../assets/images/about/wacom-pen.png" alt="wacome-pen">

      </div>
  </div>
  <h1 class="">Shot me a message here</h1>
  <form class="message-form-box ">
      <div class="form-control ">
          <label for="name" class="form-label">Your Name</label>
          <input id="name" type="text" placeholder="John Doe" class="form-input">
      </div>
      <div class="form-control">
          <label for="email" class="form-label">Your Email</label>
          <input id="email" type="email" placeholder="johndoe@gmail.com" class="form-input">
      </div>
      
      
      <div class="form-control ">
          <label for="message" class="form-label">Your Message</label>
          <textarea class="textarea-input"  id="message" placeholder="Write your message here" name="description" cols="30" rows="5"></textarea>
      </div>
      <div class="flex-row-center-end top-margin-sm bottom-margin-lg">
          <div class="flex-stretch"></div>
          <div class="send-email-btn-box ">
              <input  class="form-button" type="submit" value="SEND EMAIL">
          </div>
      </div>
  </form>

  <h3 class="bottom-padding-sm" style="color: var(--color-pure-black);">Let’e work together </h3>
  <P class="bottom-padding-md">Feel free to reach out for collaborations or just a friendly hello.</P>
  <P class="quote bottom-padding-sm">“Design is a funny word. Some people think design means how it looks. But of course, if you dig deeper, it’s really how it works.”</P>
  <p class="text-right bottom-padding-lg" style="color:var(--color-neutral-medium);">– STEVE JOBS</p>
</div>