mat-toolbar {
    background-color: #7DA7AC;
    color: #fff;
    letter-spacing: 0.29px;
}
mat-drawer-container {
    color: #000;
}
.filler {
    flex: 1 1 auto;
 }
 .logo-nav {
     width:80px;
 }
 mat-drawer {
     width: 100%;
     height: 100%;
}