<div class="container nav-height">  
    <div class="flex-row-between-center bottom-margin-lg top-margin-md">
        <div class="flex-grow1_0 itroduction-box">
            
                <h1 class="">UI/UX Designer</h1>
                <h4 class="">SF, Bay Area</h4>
                <p class="introduction-text top-padding-md">I enjoy looking for the most suitable solution to design problems always considering users, stakeholders and, company’s interest.</p>
                <div class="personal-links display-flex flex-align-center">
                    <a class="visitme_link" href="../../assets/resume/mari_kurata_resume.pdf" download>Resume</a>
                    <div class="separator"></div>
                    <a class="visitme_link" href="https://www.linkedin.com/in/mari-kurata" target="_blank" >LinkedIn</a>
                </div>
            
        </div>
        <div class="headshot-box display-flex flex-grow1_2">           
            <img  class="image-contain headshot" src="../../assets/images/home/headshot.png" alt="headshot image">
        </div>
    </div>
</div>
<div class="section-bg top-padding-lg bottom-padding-lg">
    <div class="container flex-row-between-center">
        <div class="image_box1 flex-grow1_0 " >
            <img class="image-contain workimage12"  src="../../assets/images/home/tinspire12.png" alt="ti calcuator" >
            <img class=" image-contain"  id="wworkimage11" data-aos="fade-up"  data-aos-duration="2000" data-aos-anchor-placement="center-center" src="../../assets/images/home/tinspire13.png" alt="ti calcuator" >
        </div> 
        <div class="content-box flex-grow1_0"  >
            <h2 class="">Making math and science easier to learn.</h2>
            <p class="top-padding-xs">UI / UX design <span style="color: var(--color-highlight);">|</span> Texas Instruments </p>
            <a class="work_link" routerLink="/tinspire">Read case study &#8594;</a>
        </div>
    </div>
</div>
<div class="top-padding-lg bottom-padding-lg">
    <div class="container flex-row-between-center">
        <div class="content-box flex-grow1_0"  >
            <h2 class="">Introducing Python to future generations.</h2>
            <p class="top-padding-xs">UI / UX design <span style="color: var(--color-highlight);">|</span> Texas Instruments </p>
            <a class="work_link" routerLink="/tipython">Read case study &#8594;</a>
        </div>
        <div class="image_box1 flex-grow1_0 " >
            <img class="image-contain workimage12" style="z-index: 2;" src="../../assets/images/home/ti8314.png" alt="ti calcuator 83">
            <img class=" image-contain"  id="wworkimage11" data-aos="fade-up"  data-aos-duration="2000" data-aos-anchor-placement="center-center" src="../../assets/images/home/ti8315.png" alt="ti calcuator 83">
        </div> 
    </div>
</div>
<div class="section-bg top-padding-lg bottom-padding-lg">
    <div class="container flex-row-between-center">
        <div class="image_box3 flex-grow1_0" >
            <img class="image-contain workimage32"  src="../../assets/images/home/wizapp12.png" alt="ti calcuator" >
            <img class=" image-contain"  id="wworkimage31" data-aos="fade-up"  data-aos-duration="2000" data-aos-anchor-placement="center-center" src="../../assets/images/home/wizapp11.png" alt="ti calcuator" >
        </div> 
        <div class="content-box flex-grow4_0 content-box3">
            <h2 class="">Redesigning WIZ app to increase smart light users. </h2>
            <p class="top-padding-xs">UI / UX design <span style="color: var(--color-highlight);">|</span> Individual Project  </p>
            <a class="work_link" routerLink="/wizapp">Learn more &#8594;</a>
        </div>
    </div>
</div>
<div class="work4_box ">
    <div class="container">
    <div class="titles_content4 " >
        <h2 class="work-name" data-aos="fade-up"  data-aos-duration="2000" data-aos-anchor-placement="center-center">Reducing building energy consumption.</h2>
        <p class="key-words" data-aos="fade-up"  data-aos-duration="2600" data-aos-anchor-placement="center-center">UI design <span style="color: var(--color-highlight);">|</span> Holiday Inn </p>
        <a class="work_link" routerLink="/holidayinn" data-aos="fade-up"  data-aos-duration="3200" data-aos-anchor-placement="center-center">See more details &#8594;</a>
    </div>
</div>
